// Primero importamos Bootstrap usando @use
@use "../node_modules/bootstrap/scss/bootstrap" as *;

// Ahora definimos tus colores personalizados
$primary: #9dc1dc;
$secondary: #595a5b;

// Aplicamos el color al body
body {
  background-color: $primary;
}

// Personalizamos los botones
.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
}
